// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;

#include "sun50i-a64.dtsi"

/ {
	model = "SPC Glee 10.1 A64 volatile Linux probe";
	compatible = "spc,glee-10.1-a64", "allwinner,sun50i-a64";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=ttyS0,115200 earlycon=uart8250,mmio32,0x01c28000 rdinit=/init loglevel=8 ignore_loglevel regulator_ignore_unused panic=-1";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x80000000>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&r_rsb {
	status = "okay";

	axp803: pmic@3a3 {
		compatible = "x-powers,axp803";
		reg = <0x3a3>;
		interrupt-parent = <&r_intc>;
		interrupts = <GIC_SPI 32 IRQ_TYPE_LEVEL_LOW>;
	};
};

#include "axp803.dtsi"

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	status = "okay";
};
