[Unit]
Description=SPC Glee USB ACM and ECM gadget
After=sys-kernel-config.mount
Before=systemd-networkd.service serial-getty@ttyGS0.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/spc-usb-gadget
ExecStart=/usr/local/sbin/spc-usb-gadget
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
